<div class="user-list right-item">
    <p class="title bold">
        <i class="fa fa-users"></i>
        粉丝（<%= count%>）
    </p>
    <div class="user-list clear-fix">
        <% userList.forEach(user => { %>
            <a href="/profile/<%= user.nickname%>" class="user-item float-left">
                <img src="<%= user.picture%>"/>
                <span><%= user.nickname%></span>
            </a>
        <% }) %>
    </div>
</div>